<center>
	<h1> Create New Message </h1>
</center>

<% if @message.errors.size > 0 %>
<div class="alert alert-danger">
<%= @message.errors.full_messages.to_sentence %>
</div>
<% end %>
<div class="card" >
	<div class="card-block" >

		<div class="form-inline">	
			<h5 style='margin-right: 20px;''> To: </h5>
			<div class="dropdown">
				<a class="btn btn-secondary dropdown-toggle" href="https://example.com" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<% if @recipient %>
					<td><%= @recipient.name %></td>
					<% else %>
					Select
					<% end %>
				</a>
				<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
					<% @friends.each do |friend| %>
					<%= link_to friend.friend.name, new_message_path(:recipient_id => friend.friend.id), class: "dropdown-item" %>
					<% end %>
				</div>
			</div>
		</div>

		<%= form_for @message do |f| %>
		<div class="form-group">
			<%= f.label :recipient %>
			<%= f.text_field  :recipient_id, class: 'form-control'  %>
		</div>
		<div class="form-group">
			<%= f.label :subject  %>
			<%= f.text_field :subject, class: 'form-control'  %>
		</div>
		<div class="form-group">
			<%= f.label :body  %>
			<%= f.text_field :body, class: 'form-control', :size => '100x100'  %>
		</div>

		<div class="form-group">
			<%= f.submit 'Send', class: 'btn btn-primary'  %>
		</div>
		<% end %>








	</div>
</div>
